@model AppCreateVMmin
@{
    Layout = "~/Views/Shared/Job/_Application.cshtml";
}
 <form asp-action="Create" asp-controller="App" method="post">
	<section>		
			<div class="container">
				 <div class="row no-gape">
				 	<aside class="col-lg-3 column border-right">
				 		<div class="widget">
				 			<div class="skill-perc">
				 				<h3>Skills Percentage </h3>
				 				<p>Put value for "Cover Image" field to increase your skill up to "15%"</p>
				 				<div class="skills-bar">
				 					<span>85%</span>
				 					<div 
				 						class="second circle" 
				 						data-size="155"
				 						data-thickness="60">
								    </div>
				 				</div>
				 			</div>
				 		</div>
				 	</aside>
					
				 	<div class="col-lg-9 column">
				 		<div class="padding-left">
					 		<div class="manage-jobs-sec">
						 		<div class="resumeadd-form">
						 			<div class="row">
										<div class="col-lg-12">
									    <span class="pf-title">Create Date</span>
					 					<div class="pf-field">
											 <input asp-for="CreateDate" placeholder="00-00-0000" type="text"  class="form-control datepicker" id="validationCustomUsername" aria-describedby="inputGroupPrepend" required>
					 					</div>
					 					</div>
					 					<div class="col-lg-5">
					 						<span class="pf-title">FirstName</span>
					 						<div class="pf-field">					 							
					 							<input value="@ViewBag.username"  disabled class="form-control" type="text">
					 						</div>
					 					</div>
					 					<div class="col-lg-5">
					 						<span class="pf-title">LastName</span>
					 						<div class="pf-field">
					 							<input value="@ViewBag.userlast"  disabled class="form-control"  type="text">
					 						</div>
					 					</div>
					 					<div class="col-lg-2">
					 						<p class="remember-label">
												<input asp-for="Status" type="checkbox" name="cb" id="fgfg" id="invalidCheck" required><label for="fgfg">Active</label>
												<div class="invalid-feedback">
                                                Specify the status of the application
                                                </div>
											</p>
					 					</div>	
										 <div >
											 <input asp-for="JobId" type="hidden" value="@ViewBag.job" />
										 </div>
										 <div>
											 <input asp-for="UserId" type="hidden" value="@ViewBag.user" />
										 </div>
										 <div>
											 <input asp-for="UpdateDate" type="hidden" value="00-00-0000" />
										 </div>
					 					<div class="col-lg-12">
					 						 <button type="submit">Save</button>
					 					</div>
						 			</div>
						 		</div>					 		
						 	</div>
					 	</div>
					</div>				
				 </div>
			</div>
		</div>
	</section>
		</form>