@model ChangeModel
@{
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
  <!-- Outer Row -->
        <div class="row justify-content-center">

            <div class="col-xl-10 col-lg-12 col-md-9">

                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                     <div class="col-lg-6">
                     <img src="~/Images/chang1.jpg"
                     asp-append-version="true"
                     style="width: 470px; height: 500px;"
                     class="rounded"
                     id="preview"
                     />
                    </div>
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4">Welcome Back!</h1>
                                    </div>
                                    <form asp-controller="User" asp-action="Login" method="post">
                                        <div class="form-group">
                                            <input asp-for="Email" type="email" class="form-control form-control-user"
                                                id="exampleInputEmail" aria-describedby="emailHelp"
                                                placeholder="Enter Email Address...">
                                        </div>
                                        <div class="form-group">
                                            <input asp-for="OldPassword" type="password" class="form-control form-control-user"
                                                id="exampleInputPassword" placeholder="Old Password">
                                        </div>
                                         <div class="form-group">
                                            <input asp-for="NewPassword" type="password" class="form-control form-control-user"
                                                id="exampleInputPassword" placeholder="New Password">
                                        </div>
                                        <div class="form-group">
                                            <input asp-for="ConfirmPassword" type="password" class="form-control form-control-user"
                                                id="exampleInputPassword" placeholder="Confirm Password">
                                        </div>
                                        <button type="submit" class="btn btn-primary btn-user btn-block">
                                            Submit
                                        </button>
                                        <hr>
                                    </form>
                                    <hr>
                                    <div class="text-center">
                                        <a class="small" aasp-controller="User" asp-action="Create">Create an Account!</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>



@*<div class="row">
    <div class="col-md-12">
        <form asp-controller="User" asp-action="ChangePassword" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group col-md-6">
                <label asp-for="Email" class="form-label">Email</label>
                <input asp-for="Email" class="form-control" type="email"/>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6">
                 <label asp-for="OldPassword" class="form-label">OldPassword</label>
                <input asp-for="OldPassword" class="form-control" type="password" />
                <span asp-validation-for="OldPassword" class="text-danger"></span>
            </div>
             <div class="form-group col-md-6">
                 <label asp-for="NewPassword" class="form-label">NewPassword</label>
                <input asp-for="NewPassword" class="form-control" type="password" />
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
             <div class="form-group col-md-6">
                 <label asp-for="ConfirmPassword" class="form-label">ConfirmPassword</label>
                <input asp-for="ConfirmPassword" class="form-control" type="password" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="mt-2">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
</div>*@