@model RegestirViewModel
@{
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
  <!-- Outer Row -->
        <div class="row justify-content-center">

            <div class="col-xl-10 col-lg-12 col-md-9">

                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                     <div class="col-lg-6">
                     <img src="~/Images/download.png"
                     asp-append-version="true"
                     style="width: 470px; height: 500px; object-fit: cover;"
                     class="rounded"
                     id="preview"
                     />
                    </div>
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4">Welcome Back!</h1>
                                    </div>
                                    <form asp-controller="User" asp-action="Regestir" method="post">
                                        <div class="form-group">
                                            <input asp-for="FirstName" class="form-control form-control-user"
                                                id="exampleInputEmail" placeholder="First Name">
                                        </div>
                                        <div class="form-group">
                                            <input asp-for="LastName" class="form-control form-control-user"
                                                id="exampleInputP" placeholder="Last Name">
                                        </div>
                                         <div class="form-group">
                                            <input asp-for="PhoneNumber" class="form-control form-control-user"
                                                id="exampleInputPasswo" placeholder="Phone Number">
                                        </div>
                                         <div class="form-group">
                                            <input asp-for="Password" type="password" class="form-control form-control-user"
                                                id="exampleInputPassword" placeholder="Password">
                                        </div>
                                        <button type="submit" class="btn btn-primary btn-user btn-block">
                                            Sign Up
                                        </button>
                                        <hr>
                                    </form>
                                    <hr>
                                    <div class="text-center">
                                        <a class="small" asp-controller="User" asp-action="Login">Already have an account? Login!</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
