@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer 
@{
    Layout = "~/Views/Shared/Job/_Layout.cshtml";
}
@model JobCreateViewModel
	<section>
		<div class="block no-padding">
			<div class="container">
				 <div class="row no-gape">
				 	<aside class="col-lg-3 column border-right">
				 		<div class="widget">
				 			<div class="tree_widget-sec">
				 				<ul>
				 					<li><a href="employer_profile.html" title=""><i class="la la-file-text"></i>Company Profile</a></li>
				 					<li><a href="employer_manage_jobs.html" title=""><i class="la la-briefcase"></i>Manage Jobs</a></li>
				 					<li><a href="employer_transactions.html" title=""><i class="la la-money"></i>Transactions</a></li>
				 					<li><a href="employer_resume.html" title=""><i class="la la-paper-plane"></i>Resumes</a></li>
				 					<li><a href="employer_packages.html" title=""><i class="la la-user"></i>Packages</a></li>
				 					<li><a href="employer_post_new.html" title=""><i class="la la-file-text"></i>Post a New Job</a></li>
				 					<li><a href="employer_job_alert.html" title=""><i class="la la-flash"></i>Job Alerts</a></li>
				 					<li><a href="employer_change_password.html" title=""><i class="la la-lock"></i>Change Password</a></li>
				 					<li><a href="employer_post_new.html#" title=""><i class="la la-unlink"></i>Logout</a></li>
				 				</ul>
				 			</div>
				 		</div>
				 	</aside>
				 	<div class="col-lg-9 column">
				 		<div class="padding-left">
					 		<div class="profile-title">
					 			<h3>Post a New Job</h3>
					 			<div class="steps-sec">
					 				<div class="step active">
					 					<p><i class="la la-info"></i></p>
					 					<span>Information</span>
					 				</div>
					 				<div class="step">
					 					<p><i class="la la-cc-mastercard"></i></p>
					 					<span>Package & Payments</span>
					 				</div>
					 				<div class="step">
					 					<p><i class="la  la-check-circle"></i></p>
					 					<span>Done</span>
					 				</div>
					 			</div>
					 		</div>
					 		<div class="profile-form-edit">
					 			<form asp-controller="Job" asp-action="Create" method="post">
					 				<div class="row">
					 					<div class="col-lg-12">
					 						<span class="pf-title">Description</span>
					 						<div class="pf-field">
					 							<textarea class="form-control" id="exampleFormControlTextarea1" asp-for="Description"></textarea>
					 						</div>
					 					</div>
					 					<div class="col-lg-6">
					 						<span class="pf-title">Job Type</span>
					 						<div class="pf-field">
					 							<select data-placeholder="Please Select Specialism" asp-for="JobTypeTrId" asp-items="@ViewBag.jobtype" class="chosen">
													<option>choose Jobtype...</option>
												</select>
					 						</div>
					 					</div>
					 					<div class="col-lg-6">
					 						<span class="pf-title">Categories</span>
					 						<div class="pf-field">
					 							<select data-placeholder="Please Select Specialism" asp-for="JobCateTrId" asp-items="@ViewBag.jobcategory" class="chosen">
													<option>choose categories...</option>
												</select>
					 						</div>
					 					</div>
					 					<div class="col-lg-6">
					 						<span class="pf-title">Offerd Salary</span>
					 						<div class="pf-field">
												 <input placeholder="10$" type="text" asp-for="Salary" />
					 						</div>
					 					</div>
					 					<div class="col-lg-6">
					 						<span class="pf-title">Experience</span>
					 						<div class="pf-field">
					 							<select data-placeholder="Please Select Specialism" asp-for="ExperienceTrId" asp-items="@ViewBag.exper" class="chosen">
													<option>choose experience...</option>
												</select>
					 						</div>
					 					</div>
					 				
					 					<div class="col-lg-12">
					 						<span class="pf-title">Create Date</span>
					 						<div class="pf-field">
					 							<input  asp-for="CareateDate" placeholder="22.08.2022"  class="form-control datepicker" />
					 						</div>
					 					</div>
					 					<div class="col-lg-12">
					 						<span class="pf-title">Update Date</span>
					 						<div class="pf-field">
					 							<input asp-for="UpdateDate" placeholder="22.08.2022"  class="form-control datepicker" />
					 						</div>
					 					</div>
										<div class="col-lg-12">
					 						<button type="submit">Job Post</button>
					 					</div>
										 <br />
					 				</div>
					 			</form>
					 		</div>

					 	</div>
					</div>
				 </div>
			</div>
		</div>
	</section>

