@model JobCreateViewModel
<form asp-controller="Job" asp-action="Create" method="post" enctype="multipart/form-data">
  <div class="form-row">
     
  <div class="row">
      <div class="form-group col-md-3">
      <label asp-for="Salary" class="form-label">Salary</label>
      <input asp-for="Salary" type="text" class="form-control" id="inputPassword4" placeholder="Salary">
    </div>
     <div class="form-group col-md-3">
      <label asp-for="Description" class="form-label">Desc</label>
      <input asp-for="Description" type="text" class="form-control" id="inputPassword4" placeholder="Descrip">
    </div>
   

  <div class="form-group col-md-3">
      <label asp-for="JobTypeTrId" class="form-label">JobType</label>
      <select asp-for="JobTypeTrId" class="form-control" asp-items="@ViewBag.jobType">
        <option selected>Choose...</option>
      </select>
    </div>

  <div class="form-group col-md-3">
    <label asp-for="CareateDate" class="form-label">CreateDate</label>
    <input asp-for="CareateDate" class="form-control" id="inputAddress2" placeholder="CreateDate">
  </div>
   <div class="form-group col-md-3">
    <label asp-for="UpdateDate" class="form-label">UpdateDate</label>
    <input asp-for="UpdateDate" class="form-control" id="inputAddress2" placeholder="UpdateDate">
  </div>
  </div>
   <div class="row">
        <div class="form-group col-md-4">
      <label asp-for="JobCateTrId" class="form-label">JobCategory</label>
      <select asp-for="JobCateTrId" class="form-control" asp-items="@ViewBag.jobCategory">
        <option selected>Choose...</option>
      </select>
    </div>
     <div class="form-group col-md-4">
      <label asp-for="ExperienceTrId" class="form-label">Experience</label>
      <select asp-for="ExperienceTrId" class="form-control" asp-items="@ViewBag.exper">
        <option selected>Choose...</option>
      </select>
    </div>
    <div class="form-group col-md-4">
      <label asp-for="UserId" class="form-label">User</label>
      <select asp-for="UserId" class="form-control" asp-items="@ViewBag.user">
        <option selected>Choose...</option>
      </select>
    </div>
  </div>
  </div>
  <div class="form-row">
 
  </div>
  <div class="mt-4">
  <button asp-controller="User" asp-action="List" class="btn btn-success ">back</button>
  <button type="submit" class="btn btn-primary">Create</button>
  </div>
</form>